---
import LayoutBase from '../layouts/LayoutBase.astro';
const tituloPagina = "Sobre Mim";
const identidade = {
  nome: "André",
  pais: "Canadá",
  ocupacao: "Desenvolvedor Web",
  hobbies: ["Música", "Natureza"]
  }

const habilidades =  ["HTML", "CSS", "JavaScript", "React", "Astro", "Escrever Documentação"]; 

const feliz = true;
const terminado = false;
const meta = 3;
const corHabilidade = "navy";
const espessuraFonte = "bold";
const capitalizacaoTexto = "uppercase";
---
<style define:vars={{corHabilidade, espessuraFonte, capitalizacaoTexto}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .habilidade {
    color: var(--corHabilidade);
    font-weight: var(--espessuraFonte);
    text-transform: var(--capitalizacaoTexto);
  }
</style>
<LayoutBase tituloPagina={tituloPagina}>
  
  <p>Aque estão alguns fatos sobre mim: </p>
      <ul>
        <li>Meu nome é {identidade.nome}</li>
        <li>Moro no {identidade.pais} e trabalho como {identidade.ocupacao}.</li>
        {identidade.hobbies.length >= 2 &&
        <li>Meus hobbies incluem {identidade.hobbies.join(', ')}, entre outros.</li>}
      </ul>
      <p>Minhas habilidades são:</p>
      <ul>
        {habilidades.map(skill => <li class="habilidade">{skill}</li>)}
      </ul>
      {feliz && <p>Estou muito feliz com meu novo site!</p>}
      {!terminado && <p>Ainda tenho mais para aprender, mas estou no caminho certo.</p>}
      {meta === 3 ? <p>Minha meta é terminar em 3 dias.</p>: <p>Minha meta não é em 3 dias.</p>}
</LayoutBase>
